@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    background-color: white;
    overflow-x: hidden;
    font-family: 'Poppins';
}

/* Css utilities */
:root {

    --fc-primary: black;
    --fc-secondary: white;
    --fc-alternate: #00bbf0;

    --hover-color: #04a1cc;

    --fw-primary: 500;
    --fw-secondary: 700;

    /* 1rem = 16px */
    --fs-primary: 1rem;
    --fs-medium: 1.5rem;
    --fs-secondary: 2rem;
    --fs-large: 3rem;

    --ft-primary: 'Poppins', bold;
    --ft-primary: 'Poppins', sans-serif;

}

/*General Css*/
.nav {
    z-index: 2;
    color: white;
}

/* Navbar */
.navbar {
    /* background-color: var(--fc-secondary); */
}

/* .float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 200px;
    z-index: 2;
    color: black;
    border-radius: 50px;
    text-align: center;
    border: none;
    background: rgba(8, 8, 8, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  } */

.navbar a {
    mix-blend-mode: difference;
    font-weight: 100;
    color: var(--fc-secondary);
    margin-right: 20px;
    font-family: 'Poppins';
}

.dream-logo svg {
    z-index: 2;
    mix-blend-mode: difference;

}

.navbar a:hover {
    color: var(--fc-alternate)
}

.nav-item .contact-us {
    background-color: var(--fc-alternate);
    border-radius: 100px;
    color: var(--fc-primary);
    font-weight: var(--fw-primary);
}

.nav-item .contact-us:hover {
    color: var(--fc-secondary);
    background-color: var(--hover-color);
    font-weight: var(--fw-primary);
}

.span .span-dream {
    font-size: var(--fs-primary);
    font-weight: var(--fw-secondary);
}

.span-dream {
    color: var(--fc-alternate);
    font-size: var(--fs-medium);
}

/*Hero Section*/
.wrapper {
    width: 500px;
}

section {
    width: 560px;
    height: 700px;
    padding: 2em;
    display: grid;
    grid-template-areas:
        "white1 white1 two white3 white3"
        "one one two three white6"
        "one one two six six"
        "one one five six six"
        "four four five six six"
        "four four five nine nine"
        "four four eight nine nine"
        "white10 seven eight nine nine"
        "white14 white14 eight white15 white15";
    gap: 1em;
    z-index: 10;
}

section img {
    z-index: 2;
}

h1 {
    font-weight: 700;

}

.white1 {
    grid-area: white1;
}

.two {
    width: 180px;
    grid-area: two;
}

.white3 {
    grid-area: white3;
}

.one {
    width: 180px;
    grid-area: one;
}

.three {

    grid-area: three;
}

.four {
    width: 180px;
    grid-area: four;
}

.five {
    grid-area: five;
    width: 180px;

}

.six {
    width: 180px;
    grid-area: six;
}

.seven {
    grid-area: seven;

}

.eight {
    width: 180px;
    grid-area: eight;
}

.nine {
    width: 180px;
    grid-area: nine;
}

.white10 {
    grid-area: white10;
}

.white14 {
    grid-area: white14;
}

.white15 {
    grid-area: white15;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

/* fade in text animation*/
.txtfadeIn {
    -webkit-transition: all 0.8s;
    transition: all 0.2s;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.txtfadeIn.inview3 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.txtfadeIn.inview3:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.txtfadeIn.inview3:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.txtfadeIn.inview3:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.txtfadeIn.inview3:nth-child(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* fade in image animation of hero section*/
.fadeIn {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.fadeIn.inview2 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.fadeIn.inview2:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.fadeIn.inview2:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.fadeIn.inview2:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.fadeIn.inview2:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.fadeIn.inview2:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.fadeIn.inview2:nth-child(6) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.fadeIn.inview2:nth-child(7) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.fadeIn.inview2:nth-child(8) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.fadeIn.inview2:nth-child(9) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}